<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Барбершоп</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <h1>Добро пожаловать в Барбершоп!</h1>
    <h2>Наши мастера:</h2>
    <ul>
        {% for master in masters %}
            <li>{{ master.name }}</li>
        {% endfor %}
    </ul>
    <h2>Наши услуги:</h2>
    <ul>
        {% for service in services %}
            <li>{{ service }}</li>
        {% endfor %}
    </ul>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>