<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заявок</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <h1>Список заявок</h1>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order_detail' order.id %}">{{ order.client_name }} - {{ order.status }}</a>
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>